div
{
    color: #ffffff;
}
#platform
{
    margin-top: 30px;
}
.platContainer
{
    display: flex;
    flex-wrap: wrap;
}
.platPeakContainer
{
    display: flex;
justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.platcards
{
    margin-left: 5rem;
    margin-right: 5rem;
    background-color: rgb(161, 215, 215);
    padding: 20px;
    width: 10rem;
    border-radius: 20px;
    margin-top: 20px;

}
.plathead{
    font-size: 1.5rem;
    color: black;
}
.border
{
    width: 100vw;
    height: 2px;
}
.platContaint
{
    color: black;
    padding-left: 35px;
}
.plateHeading
{
    color: black;

   margin-top: -10px;
}
.extreContaint
{
    display: flex;
    flex-wrap: wrap;
}
.horizontal
{
    margin: 3rem;
    background-color: rgb(255, 255, 255);
    color: #000;
    padding: 15px;
    border-radius: 10px;
height: auto;    width: 13rem;
}
.horizontal ul p span {
    color: rgb(31, 112, 57);
    cursor: pointer;
}
.horizontal ul{
    margin-left: 10px;
    margin-top: 8px;
}